<!DOCTYPE html>
<html>
  <head>
    <title>右界面</title>
	<meta charset="utf-8">
	<link rel='stylesheet' href='/stylesheets/common.css' />
	<link rel='stylesheet' href='/stylesheets/right_style.css' />
  </head>
  <body>
    <div class="main">
		<div class="word">
			<h2>欢迎您，用户<%= userName %>进入后台系统</h2>
		</div>
	</div>
  </body>
</html>